<:Body>
  <div class="row">
    <div class="input-field col s12">
      <textarea e-focusout="blur" placeholder="{{ attrs.placeholder }}" class="materialize-textarea">{{ attrs.value }}</textarea>
      {{ if label.present? }}
        <label class="control-label {{ if attrs.value.present? }}active{{ end }}">{{ label }}</label>
      {{ end }}
      {{ if errors }}
        <span class="control-label errors">{{ (errors || []).join(', ') }}</span>
      {{ elsif marked }}
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      {{ end }}
    </div>
  </div>
